body {
    margin-top: 80px;
}

.login {
  border-left: 1px dashed #DDDDDD;
}

.post {
  margin-bottom: 20px;
  img {
    width: 100%;
  }
}

.votes a {
   color: #3b5998 !important;
}

.like.disabled {
   cursor: not-allowed;
   opacity: 0.65;
   filter: alpha(opacity=65);
   box-shadow: none;
 }

.unlike.disabled {
   cursor: not-allowed;
   opacity: 0.65;
   filter: alpha(opacity=65);
   box-shadow: none;
}

table td a {
  display: block;
  padding: 15px;
  font-size: 40px;
  border: 1px solid #AFADAD;
  margin: 1px;
  text-decoration: none;
  height: 95px;
}

#likes {
    font-size: 13px;
    text-decoration: none;
}

#comments {
    font-size: 13px;
    text-decoration: none;
}

.mobile .fa {
    font-size: 30px;
    display: block;
}

table td a:hover {
  background-color: #F7F7F7;
  text-decoration: none;
}

table td {
  padding: 0px !important;
  text-align: center;
  border-top: 0px !important;
}
