.nav > li > a > img {
  width: 30px;
}

.navbar-nav>li>a.profile-image {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar {
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.navbar .btn {
  background-color: #656565;
  background-image: none;
  border-color: transparent;
  color: #e6e6e6;
  text-shadow: 0 0 0;
  box-shadow: 0 0 0;
  border-radius: 0;
}

.glyphicon.glyphicon-search {
  padding: 1px;
}

.searchbar {
  background-color: #4E4E4E;
  border-color: transparent;
  font-size: 12px;
  color: #eee;
  border-radius: 0;
  box-shadow: 0 0;
}

.navbar-custom {
  background-color: #212121;
}

.navbar-brand {
  color: #CECECE;
}

.navbar-brand:hover {
  color: #FFFFFF;
}

.navbar-nav > li > a {
  padding-top: 15px;
  color: #CECECE;
  padding-bottom: 15px;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  color: white;
  background-color: #4E4E4E;
}

.navbar .form-control:focus {
  border-color: #8C8C8C;
}